.mobile-open {
  height: 100vh;
  overflow: hidden;
}

.line1,
.line2,
.line3 {
  transition: all 0.25s ease-in;
}
.line1.toggle {
  transform: rotate(-45deg) translate(-5px, 9px);
}
.line2.toggle {
  opacity: 0;
}
.line3.toggle {
  transform: rotate(45deg) translate(-5px, -9px);
}

@media screen and(max-width:768px) {
  .burger {
    display: block;
  }
}
.dropdown:focus-within .dropdown-menu {
  opacity: 1;
  transform: translate(0) scale(1);
  visibility: visible;
}

.mobile-dropdown:focus-within .mobile-dropdown-menu {
  opacity: 1;
  transform: translate(0) scale(1);
  display: block;
}
